@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    font-family: 'Inter';font-family: 'Inter', sans-serif;
}

.kontak {
    width: 40%;
    height: 40px;
    padding: 10px;
    cursor : pointer;
    transition: width 1s;
}

.kontak:hover {
 font-size: 4rem;
}
